body{
    background-color: white;
    font-family: 'preconnect';
}
#main,footer,header{
    padding: 10px;
}
h1{
    font-size: 50px;
    padding: 5px;
    padding-top: 50px;
    margin: 10px;
    font-family: 'montserrat';
    font-weight: bolder;
    text-align: center;
}
.main_blurb{
    text-align: center;
    font-size: 30px;
    color: #292929;
}
.homescreen{
    align-items: center;
}
h2{
    font-size: 22px;
    padding: 5px;
    margin: 10px;
}
h3{
    font-size: 20px;
    padding: 5px;
    margin: 10px;
}
p{
    font-size: 16px;
    padding: 10px;
    margin: 10px;  
}
nav {
    border-top: 1px solid rgb(192, 192, 192);
    border-bottom: 1px solid rgb(192, 192, 192);
    width: 100%;
}
 nav ul{
    display: flex;
    flex-direction: row;
    background-color: #ffffff;
    justify-content: space-around;
    line-height: 45px;
}

a:hover{
    color:blueviolet;
    font-weight: bolder;
}
.active{
    font-size: 20px;
    font-weight: bold;
    border: 2px solid blueviolet;
}
a.skip{
    display: none;
}
img {
    margin: 0px;
    padding: 5px;
    filter: grayscale(60%);
    width: 200px;
    height:200px;
    overflow: hidden;
}
img:hover{
    filter: grayscale(0%);
    background-color: #c2d3ed;
}

.grid_container{
     display: grid;
     justify-content: space-around;
 }
 .grid_container img{
     width: 90%;
 }

.lifestyle{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.lifestyle img {
    justify-self: center;
    width: 200px;
    overflow: hidden;

}
.homescreen{
    height: 75vh;
    background-image: url("../images/lower-res-salad.jpg"); 
    background-size: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /*background-color: white;*/
}
ol{
    margin: 10px
}
.bigger{
    font-size: 70px;
    color: #292929;
}
form{
    background-color: #c0b8d4;
}
label {
    display: inline-block;
    text-align: center;
}
input, textarea {
    width: 75%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box; 
  }
  .breakfast_heading{
      height: 100vh;
      text-align: center;
      background-image: url("../images/trasnparetngsmoothie.jpg");
      background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
@keyframes katiesKitchen {
    from {
      margin-left: 100%;
      width: 300%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }

  #main{
    animation-name: katiesKitchen;
    animation-duration: 2s;

  }

  @media screen and (prefers-reduced-motion: reduce){
   #main{
       animation: none;
   }
  }
