body{
    background-color: white;
    font-family: 'montserrat';
}
main,footer,header{
    padding: 10px;
}
h1{
    font-size: 50px;
    padding: 5px;
    padding-top: 50px;
    margin: 10px;
    font-family: 'montserrat';
    font-weight: bolder;
    text-align: center;
}
.main_blurb{
    text-align: center;
    font-size: 30px;
}
h2{
    font-size: 22px;
    padding: 5px;
    margin: 10px;
}
h3{
    font-size: 20px;
    padding: 5px;
    margin: 10px;
}
p{
    font-size: 16px;
    padding: 10px;
    margin: 10px;  
}
nav{
    display: flex;
    flex-direction: row;
    
    /*padding: 10px;
    margin: 0px;*/
    background-color: #bdbdbd;
    /*border: 2px solid black;*/
}


a:hover{
    color:blueviolet;
    font-weight: bolder;
}
.active{
    font-size: 20px;
    font-weight: bold;
    border: 2px solid blueviolet;
}
a.skip{
    display: nonw;
}
img {
    margin: 0px;
    padding: 5px;
    filter: grayscale(60%);
    width: 350px;
    height:auto ;
}
img:hover{
    filter: grayscale(0%);
    background-color: #c2d3ed;
}

.index_img{
     display: grid;
     justify-content: space-around;
 }
 img .index_img{
     width: 500px;
 }

.lifestyle{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.lifestyle img {
    justify-self: center;
    width: 200px;
    overflow: hidden;

}
.homescreen{
    height: 100vh;
    /*background-image: url("../images/chicago-salad.jpg"); */
    background-color: white;
}
ol{
    margin: 10px
}
.bigger{
    font-size: 70px;
}