body{
    background-color: white;
    font-family: 'preconnect';
}
h1, h2, p, li, label, input{
    font-family: "Work Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;

}
#main,footer,header{
    padding: 10px;
}
h1{
    font-size: 35px;
    padding: 5px;
    padding-top: 50px;
    margin: 10px;
    font-family: 'montserrat';
    font-weight: bolder;
    text-align: center;
}
.main_blurb{
    text-align: center;
    font-size: 20px;
    color: #292929;
    margin-top: 50px;
    
}
.homescreen{
    align-items: center;
}
.homescreen p{
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 10%;
}

h2{
    font-size: 22px;
    padding: 5px;
    margin: 10px;
}
h3{
    font-size: 20px;
    padding: 5px;
    margin: 10px;
}
p{
    font-size: 16px;
    padding: 10px;
    margin: 10px;  
}
.grid_recepies{
    display: grid;
}
.nav{
    padding: 1px;
    border-bottom: 1px solid lightgrey ;
}
.nav__toggle{
    position:absolute;
    cursor: pointer;
    margin: 0rem 1rem;
    right: 0;
}
i{
   width: 1.5rem;
   fill: lightgrey;
}
.fa-solid.fa-xmark{
    display: none;
}
.fa-solid.fa-bars{
    margin-top: 0.2rem;
}
.nav__checkbox{
    display: none;
}
.nav__menu{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    margin: 1rem;
}
li{
    list-style: none;
    display: none;
    }
a{
    text-decoration: none;
    color: inherit;
    font-size: 1.2rem;
}
#nav__checkbox:checked ~ ul.nav__menu li{
    display: block;

}
.food{
    height: 10vh;
}


/*
#nav__checkbox:checked ~ label.nav__toggle.fa-xmark{
    display: block;
}
#nav__checkbox:checked ~ label.nav__toggle.fa-bars{
    display: none;
}*/






.active{
    font-size: 20px;
    font-weight: bold;
    border: 2px solid blueviolet;
}

a:hover{
    color:blueviolet;
    font-weight: bolder;
}
a.skip{
    display: none;
}
.grid_container img, .grid_recepies img {
    margin: 0px;
    padding: 5px;
    filter: grayscale(60%);
    width: 200px;
    height:200px;
    overflow: hidden;
}
.grid_container img:hover, .grid_recepies img:hover{
    filter: grayscale(0%);
    background-color: rgb(196, 185, 202);
}


.grid_container{
     display: grid;
    justify-content: center;
 }
 .grid_container img{
     width: 90%;
 }

.lifestyle{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.lifestyle img {
    justify-self: center;
    width: 200px;
    overflow: hidden;

}
.homescreen{
    height: 100vh;
    background-image: url("../images/asthetic_transparent.jpg"); 
    background-size: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
ol{
    margin: 10px
}
.bigger{
    font-size: 40px;
    color: #292929;
}
.contactme{
    background-color: rgb(0, 48, 68);
    text-align: center;
    padding: 50px;
    color: white;
}
.getInTouch{
    font-size: 22px;
    color: white;
    font-weight: bold;
    font-family: "Work Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}
.formBlurb{
    color:white;
    font-size: 15px;
    font-weight: bold;
    font-family: "Work Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;

}
/*
form{
    background-color: rgb(196, 185, 202);
    padding: 15px;
}
*/
label {
    display: block;
    text-align: center;
}
input, textarea {
    width: 75%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box; 
  }
  .breakfast_heading{
      height: 100vh;
      text-align: center;
      background-image: url("../images/Avocado-Toast-vert-tranp.jpg");
      background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .meals_heading{
    height: 100vh;
    text-align: center;
    background-image: url("../images/salmon_transparent.jpg");
    background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@keyframes katiesKitchen {
    from {
      margin-left: 100%;
      width: 300%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }

  #main{
    animation-name: katiesKitchen;
    animation-duration: 2s;

  }

  @media screen and (prefers-reduced-motion: reduce){
   #main{
       animation: none;
   }
  }


  @media only screen and (min-width:560px){
    .nav__toggle{
        display: none;
    }
    .nav__menu{
        display: flex;
        flex-direction: row;
    }
    .nav__menu li{
        display: block;
    }
}
